# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CCD-Cube.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\Documents\CCD-Cube-Git\CCD-Cube\.idea\.idea.CCD-Cube\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
